@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #fefefe;
}

header {
  width: 100%;
  height: 80px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.logo img {
  width: 90px;
  float: left;
  padding-left: 5%;
  padding-top: 2%;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}
.nav-bar ul li a {
  display: block;
  color: black;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  color: #fefefe;
  background: #f20000;
}

.nav-bar ul li a.active {
  color: #fefefe;
  background: #f20000;
}
@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #f20000;
    margin: 6px 0;
  }
  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #fefefe;
    transition: 0.2s;
    overflow: hidden;
  }
  .nav-bar.active {
    height: 450px;
  }
  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-bar.active ul {
    opacity: 1;
  }
  nav-bar ul li a {
    margin-bottom: 12px;
  }
}

/* */
/* .*/
/*:root {
  --red: #f20000;
  --blue: #1511e3;
  --light-color: #777;
  --white: #ffffff;
  --black: #000000;
  --box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  --border: 0.2rem solid var(--blue);
}*/

/*.wrapper {
  width: 1170px;
  margin: auto;
}

.body {
  background-color: azure;
}

.nav-area {
  position: absolute;
  float: right;
  list-style: none;
  margin-top: 20px;
  padding-right: 10px;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}
.nav-area li {
  display: inline-block;
}

.nav-area li a {
  color: #000000;
  text-decoration: none;
  padding: 5px 20px;
  font-size: 14px;
}

.nav-area li a:hover {
  background: #1511e3;
  color: #333;
}


/*#menu-btn {
  font-size: 2.5rem;
  border-radius: 0.5rem;
  background: #eee;
  color: var(--blue);
  padding: 1rem 1.5rem;
  cursor: pointer;
 } */

/*.welcome-text {
  position: absolute;
  margin: 20% 30%;
  float: left;
  text-align: left;
  padding-left: 0%;
  padding-top: 0%;
}

.welcome-text h1 {
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  font-size: 64px;
}

.welcome-text p {
  color: #000000;
}*/
